  /*頁面滾動*/
  html {
    scroll-behavior: smooth;
  }
  /*首頁文字大小*/
  .page1-text{
      background-color: #ebe7e0 ;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      font-size:50px;
  }
  /*按鈕*/
  /*.buttom{
      background-color: black ;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      color:white;
      font-size:30px;
      padding:10px;
  }*/

  /*question*/
  .question{
      background-color: #383838;
      justify-content: center;
      margin:50px;
      margin-bottom: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color:#ebe7e0;
      text-align: center;
      font-size:25px;
      padding:10px;
  }

  .answer{
      background-color: #ebe7e0;
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align:center;
      font-size:25px;
      padding:30px;
    }

    .linkedln{
        width:40px;
        height:40px;
        margin:3px;
        vertical-align:middle;
    }

    .up-arrow{
        width:100px;
        height:100px;
        margin:1px;
    }